body {
  margin: 0;
  padding: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(0, 119, 182);
}

.main {
  height: 80%;
  width: 80%;
  display: flex;
  position: relative;
  background-color: rgb(0, 180, 216);
}

.player {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.player-title {
  font-size: 2.5em;
}

.total-score {
  font-size: 4em;
}

.current-score-container {
  width: 70%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(202, 240, 248, 0.5);
  border-radius: 1em;
}

.current-score-header {
  font-size: 1.5em;
}

.current-score {
  font-size: 2.5em;
}

#new-game {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
}

#game-buttons {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 4em;
  display: flex;
  flex-direction: column;
}

.game-button {
  font-size: 1.5em;
  margin-top: 1em;
  border-radius: 20px;
  border: none;
  padding: 0.5em 1em;
  cursor: pointer;
  background-color: rgb(3, 4, 94);
  color: white;
  transition: all 0.2s ease;
}

.game-button:hover {
  scale: 1.05;
  opacity: 0.8;
}

#dice-image {
  height: 7em;
  width: 7em;
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translateX(-50%);
}

/* Utility classes */
.active-player {
  background-color: green;
  /* TODO pick a better color for active player - just wanted to test to make sure it was working. */
}
