body {
  margin: 0;
  padding: 0;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgb(0, 119, 182);
  position: relative;
}

h1 {
  margin-top: 0;
  font-size: 3em;
}

.main {
  height: 80%;
  width: 80%;
  display: flex;
  position: relative;
  background-color: rgb(0, 180, 216);
}

.player {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.player-title {
  font-size: 2.5em;
}

.total-score {
  font-size: 4em;
}

.current-score-container {
  width: 70%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(202, 240, 248, 0.5);
  border-radius: 1em;
}

.current-score-header {
  font-size: 1.5em;
}

.current-score {
  font-size: 2.5em;
}

#btn-rules {
  position: absolute;
  top: 0;
  right: 2em;
}

#new-game {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
}

#game-buttons {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 4em;
  display: flex;
  flex-direction: column;
}

.game-button {
  font-size: 1.5em;
  margin-top: 1em;
  border-radius: 20px;
  border: none;
  padding: 0.5em 1em;
  cursor: pointer;
  background-color: rgb(3, 4, 94);
  color: white;
  transition: all 0.2s ease;
}

.game-button:hover {
  scale: 1.05;
  opacity: 0.8;
}

#dice-image {
  height: 7em;
  width: 7em;
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translateX(-50%);
}

#overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(3px);
}

#modal {
  height: 70%;
  width: 70%;
  background-color: white;
  top: 10%;
  left: 50%;
  transform: translateX(-50%);
  position: absolute;
  border-radius: 20px;
}

#close-modal {
  position: absolute;
  top: 1em;
  right: 1em;
  height: 2em;
  width: 2em;
  transition: all 0.2s ease;
  cursor: pointer;
}

#close-modal:hover {
  transform: scale(1.1);
}

#line1 {
  position: absolute;
  background-color: black;
  width: 0.25em;
  height: 100%;
  transform: rotate(45deg);
}

#line2 {
  position: absolute;
  background-color: black;
  width: 0.25em;
  height: 100%;
  transform: rotate(-45deg);
}

#modal h2 {
  font-size: 3em;
  text-align: center;
}

#rules {
  padding: 2em 4em;
  font-size: 1.5em;
  line-height: 2;
}

#winner-modal {
  position: absolute;
  height: 80%;
  width: 70%;
  border-radius: 20px;
  top: 10%;
  left: 50%;
  transform: translateX(-50%);
  background-color: white;
  text-align: center;
}

#winner-modal h2 {
  font-size: 3em;
}

#winner-modal p {
  margin-top: 4em;
  font-size: 3em;
}

/* ---------- Utility classes ---------- */
.active-player {
  background-color: rgba(119, 141, 169, 0.8);
  /* TODO pick a better color for active player - just wanted to test to make sure it was working. */
}

.hidden {
  display: none;
}
